/* Elementos não precisam de identificadores (body, table)
 * Toda classe é identificada por um ponto (.)
 * Todo id é identificado por um sustenido (#) */

body {
  background-image: url("../images/imagem-fundo.png");
  background-size: cover;
  overflow: hidden;
}

table {
  border-spacing: 0;
  position: relative;
  width: 450px;
  height: 450px;
  margin: 15% auto;
}

table td {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

table tr td {
  border-bottom: 3px solid rgba(201, 10, 0, 0.6);
  border-right: 3px solid rgba(201, 10, 0, 0.6);
}

table tr td:last-child {
  border-right: none;
}

table tr:last-child td {
  border-bottom: none;
}

.x {
  background-image: url("../images/x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.o {
  background-image: url("../images/o.png");
  background-repeat: no-repeat;
  background-position: center;
}
