/* Elementos não precisam de identificadores (body, table)
 * Toda classe é identificada por um ponto (.)
 * Todo id é identificado por um sustenido (#) */

body {
  background-image: url("imagem-fundo.png");
  background-size: cover;
  overflow: hidden;
}

table {
  border-spacing: 0;
}

.tabuleiro {
  position: relative;
  width: 450px;
  height: 450px;
  margin: 18% auto;
}

.tabuleiro .cedula {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.tabuleiro .borda-dir {
  border-right: 3px solid rgba(201, 10, 0, 0.6);
}

.tabuleiro .borda-baixo {
  border-bottom: 3px solid rgba(201, 10, 0, 0.6);
}

.x {
  background-image: url("x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.o {
  background-image: url("o.png");
  background-repeat: no-repeat;
  background-position: center;
}
